*.bat
*.png
*.gif
*.jpg
*.env
*.webm
sendtracker.txt
/venv
/env
*.db
*.sh
Scripts/


# hide env var files
.env*
..env*
pyvenv.cfg
credentials.json
*.pickle


/.vscode
__pycache__/
aliases.db

share/
Lib/
etc/